<header>
        <h1>Swastik: History & Structure</h1>
        <nav>
            <a href="/index2.html">Home</a>
            <a href="/pages/origin.html">Origin</a>
            <a href="/pages/AncientInterpretation.html">Ancient Interpretations</a>
            <a href="/pages/AncientCulture.html">Ancient Cultures</a>
            <a href="/pages/Haken_Hist.html">Hakenkreuz History</a>
            <a href="/pages/Diff_Swastik.html">Structural Differences</a>          
            <a href="/pages/Geometric.html">Geometric Differences</a>
            <a href="/pages/ModernHinduUse.html">Modern Hindu Use</a>
        </nav>
    </header>