<header>
        <h1>Swastik: History & Structure</h1>
        <nav>
            <a href="/index2.html">Home</a>
            <a href="/pages/origin.html">Origin</a>
            <a href="/pages/AncientInterpretation.html">Ancient Interpretations</a>
            <a href="#">Ancient Cultures</a>
            <a href="#">Hakenkreuz History</a>
            <a href="#">Structural Comparison</a>
            <a href="#">Modern Hindu Use</a>
            <a href="#">Sources</a>
        </nav>
    </header>